openapi: 3.0.4
info:
  title: viesbuciu_rezervacija_backend
  version: '1.0'
paths:
  /api/Admin/users:
    get:
      tags:
        - Admin
      responses:
        '200':
          description: OK
  '/api/Admin/promote-to-hotelowner/{userId}':
    post:
      tags:
        - Admin
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
  '/api/Admin/demote-to-user/{userId}':
    post:
      tags:
        - Admin
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/Auth/login:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LoginDto'
          application/json:
            schema:
              $ref: '#/components/schemas/LoginDto'
          text/json:
            schema:
              $ref: '#/components/schemas/LoginDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LoginDto'
      responses:
        '200':
          description: OK
  /api/Auth/register:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RegisterDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RegisterDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RegisterDto'
      responses:
        '200':
          description: OK
  /api/Auth/register-hotelowner:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RegisterHotelOwnerDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterHotelOwnerDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RegisterHotelOwnerDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RegisterHotelOwnerDto'
      responses:
        '200':
          description: OK
  /api/Auth/refresh:
    post:
      tags:
        - Auth
      responses:
        '200':
          description: OK
  /api/Auth/logout:
    post:
      tags:
        - Auth
      responses:
        '200':
          description: OK
  /api/Hotel:
    get:
      tags:
        - Hotel
      responses:
        '200':
          description: OK
    post:
      tags:
        - Hotel
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateHotelRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHotelRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateHotelRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateHotelRequestDto'
      responses:
        '200':
          description: OK
  '/api/Hotel/{id}':
    get:
      tags:
        - Hotel
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
    put:
      tags:
        - Hotel
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateHotelRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateHotelRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateHotelRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateHotelRequestDto'
      responses:
        '200':
          description: OK
    delete:
      tags:
        - Hotel
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
  /api/Hotel/my-hotel:
    get:
      tags:
        - Hotel
      responses:
        '200':
          description: OK
  '/api/hotel/{hotelId}/room/{roomId}/reviews':
    get:
      tags:
        - Review
      parameters:
        - name: hotelId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: roomId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
    post:
      tags:
        - Review
      parameters:
        - name: hotelId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: roomId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequestDto'
      responses:
        '200':
          description: OK
  '/api/hotel/{hotelId}/room/{roomId}/reviews/{reviewId}':
    get:
      tags:
        - Review
      parameters:
        - name: hotelId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: roomId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: reviewId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
    delete:
      tags:
        - Review
      parameters:
        - name: hotelId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: roomId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: reviewId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
    put:
      tags:
        - Review
      parameters:
        - name: hotelId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: roomId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: reviewId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateReviewRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReviewRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateReviewRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateReviewRequestDto'
      responses:
        '200':
          description: OK
  '/api/hotel/{hotelId}/room':
    get:
      tags:
        - Room
      parameters:
        - name: hotelId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
    post:
      tags:
        - Room
      parameters:
        - name: hotelId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequestDto'
      responses:
        '200':
          description: OK
  '/api/hotel/{hotelId}/room/{roomId}':
    get:
      tags:
        - Room
      parameters:
        - name: hotelId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: roomId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: includeReviews
          in: query
          schema:
            type: boolean
            default: false
        - name: includePictures
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: OK
    put:
      tags:
        - Room
      parameters:
        - name: hotelId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: roomId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateRoomRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateRoomRequestDto'
      responses:
        '200':
          description: OK
    delete:
      tags:
        - Room
      parameters:
        - name: hotelId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: roomId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
  '/api/hotel/{hotelId}/room/{roomId}/pictures/{pictureId}':
    delete:
      tags:
        - Room
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: pictureId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: hotelId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
  '/api/hotel/{hotelId}/room/{roomId}/upload-image':
    post:
      tags:
        - Room
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: hotelId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imageFile:
                  type: string
                  format: binary
            encoding:
              imageFile:
                style: form
      responses:
        '200':
          description: OK
components:
  schemas:
    CreateHotelRequestDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        street:
          type: string
          nullable: true
        streetNumber:
          type: string
          nullable: true
        parking:
          type: boolean
        breakfast:
          type: boolean
        ownerId:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/HotelType'
      additionalProperties: false
    CreateReviewRequestDto:
      type: object
      properties:
        comment:
          type: string
          nullable: true
        rating:
          type: integer
          format: int32
      additionalProperties: false
    CreateRoomRequestDto:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        numberOfBeds:
          type: integer
          format: int32
        squareMeters:
          type: number
          format: double
        toileteries:
          type: boolean
        hotelId:
          type: integer
          format: int32
      additionalProperties: false
    HotelType:
      enum:
        - 1
        - 2
        - 3
        - 4
      type: integer
      format: int32
    LoginDto:
      type: object
      properties:
        email:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
      additionalProperties: false
    RegisterDto:
      type: object
      properties:
        username:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
      additionalProperties: false
    RegisterHotelOwnerDto:
      type: object
      properties:
        username:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
      additionalProperties: false
    UpdateHotelRequestDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        street:
          type: string
          nullable: true
        streetNumber:
          type: string
          nullable: true
        parking:
          type: boolean
        breakfast:
          type: boolean
        ownerId:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/HotelType'
      additionalProperties: false
    UpdateReviewRequestDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        comment:
          type: string
          nullable: true
        rating:
          type: integer
          format: int32
      additionalProperties: false
    UpdateRoomRequestDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        numberOfBeds:
          type: integer
          format: int32
        squareMeters:
          type: number
          format: double
        toileteries:
          type: boolean
      additionalProperties: false
tags:
  - name: Admin
  - name: Auth
  - name: Hotel
  - name: Review
  - name: Room